#banner {
    /* background: rgb(49, 225, 247);
    background: linear-gradient(0deg, rgba(49, 225, 247, 1) 0%, rgb(145, 15, 148) 50%); */
    background: rgb(49, 225, 247);
    background: linear-gradient(180deg, rgb(186, 39, 123) 40%, rgba(135, 225, 219, 1) 100%);
    overflow-x: hidden;
    height: 90vh;
}

.navbar,
#banner,
#manfaat,
#products {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 4rem;
    border-radius: 0 0 24px 24px;
    text-transform: uppercase;
}

.navbar-nav a {
    color: black;
    font-weight: 500;
}

#banner {
    padding-top: 2.5rem;
    /* padding-bottom: 8rem; */
}


/* #banner svg {
    margin-top: -3rem;
} */

#karusel {
    height: 25rem;
}

#karusel img {
    width: 100%;
    object-fit: cover;
    object-position: 0rem -10rem;
}

#karusel #dua {
    object-position: 0 -7.5rem;
}

#karusel #empat {
    object-position: 0 0;
}

#manfaat {
    padding-top: 3rem;
    /* background: rgb(215, 118, 217);
    background: linear-gradient(0deg, rgba(215, 118, 217, 1) 0%, rgba(231, 141, 233, 1) 40%, rgba(251, 252, 252, 1) 100%); */
    background: rgb(135, 225, 219);
    background: linear-gradient(180deg, rgba(135, 225, 219, 1) 5%, rgba(255, 255, 255, 1) 100%);
}

#manfaat h1 {
    font-weight: 700;
}

.droplet {
    width: 100%;
    position: relative;
    top: -5rem;
    left: -5rem;
}


/* product */

#product {
    background-color: white;
    height: 90vh;
}

#productKanan {
    background-color: #e78de9;
    color: white;
    border-radius: 25rem 0 0 25rem;
    font-family: 'montserrat', sans-serif;
    padding: 1rem;
}

#productKanan h1 {
    font-weight: 500;
}

#testi {
    background: rgb(135, 225, 219);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(135, 225, 219, 1) 100%);
    height: 90vh;
    overflow-x: hidden;
}

#testi h2 {
    margin-top: 2rem;
}

#tombol {
    background-color: #fbfcfc;
}


/* Footer */

#footer {
    font-size: 14px;
}


/* Whatsapp */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff !important;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

@media only screen and (max-width: 766px) {
    .navbar {
        height: auto;
    }
}